{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 33.578014746144014,
    "longitude": -64.24804687500001,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "America/Havana",
    "external_url": null,
    "internal_url": null,
    "currency": "WST",
    "country": "GB",
    "language": "en-GB",
    "radius": 95674
  }
}